# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [5]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [6]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [7]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [8]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [25]:
# load json as string
a = json.load((open('data/world_bank_projects_less.json')))

In [8]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [31]:
a = json.load((open('data/world_bank_projects.json')))

In [23]:
json_df = pd.read_json('data/world_bank_projects.json')
json_df.countryname.value_counts().head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

0      [{u'code': u'8', u'name': u'Human development'...
1      [{u'code': u'1', u'name': u'Economic managemen...
2      [{u'code': u'5', u'name': u'Trade and integrat...
3      [{u'code': u'7', u'name': u'Social dev/gender/...
4      [{u'code': u'5', u'name': u'Trade and integrat...
5      [{u'code': u'6', u'name': u'Social protection ...
6      [{u'code': u'2', u'name': u'Public sector gove...
7      [{u'code': u'11', u'name': u'Environment and n...
8      [{u'code': u'10', u'name': u'Rural development...
9      [{u'code': u'2', u'name': u'Public sector gove...
10     [{u'code': u'10', u'name': u'Rural development...
11     [{u'code': u'10', u'name': u'Rural development...
12                       [{u'code': u'4', u'name': u''}]
13     [{u'code': u'5', u'name': u'Trade and integrat...
14     [{u'code': u'6', u'name': u'Social protection ...
15     [{u'code': u'10', u'name': u'Rural development...
16     [{u'code': u'10', u'name': u'Rural development...
17     [{u'code': u'8', u'name': u'Human development'...
18     [{u'code': u'8', u'name': u'Human development'...
19     [{u'code': u'2', u'name': u'Public sector gove...
20     [{u'code': u'7', u'name': u'Social dev/gender/...
21     [{u'code': u'9', u'name': u'Urban development'...
22     [{u'code': u'7', u'name': u'Social dev/gender/...
23     [{u'code': u'8', u'name': u'Human development'...
24     [{u'code': u'10', u'name': u'Rural development...
25     [{u'code': u'11', u'name': u'Environment and n...
26     [{u'code': u'4', u'name': u'Financial and priv...
27     [{u'code': u'11', u'name': u'Environment and n...
28     [{u'code': u'10', u'name': u'Rural development...
29     [{u'code': u'7', u'name': u'Social dev/gender/...
                             ...
470    [{u'code': u'5', u'name': u'Trade and integrat...
471    [{u'code': u'10', u'name': u'Rural development...
472    [{u'code': u'11', u'name': u'Environment and n...
473    [{u'code': u'11', u'name': u'Environment and n...
474    [{u'code': u'9', u'name': u'Urban development'...
475    [{u'code': u'4', u'name': u'Financial and priv...
476    [{u'code': u'10', u'name': u'Rural development...
477    [{u'code': u'4', u'name': u'Financial and priv...
478    [{u'code': u'2', u'name': u'Public sector gove...
479    [{u'code': u'7', u'name': u'Social dev/gender/...
480    [{u'code': u'2', u'name': u'Public sector gove...
481    [{u'code': u'8', u'name': u'Human development'...
482    [{u'code': u'10', u'name': u'Rural development...
483    [{u'code': u'11', u'name': u'Environment and n...
484    [{u'code': u'10', u'name': u'Rural development...
485    [{u'code': u'8', u'name': u'Human development'...
486    [{u'code': u'2', u'name': u'Public sector gove...
487    [{u'code': u'11', u'name': u'Environment and n...
488    [{u'code': u'8', u'name': u'Human development'...
489    [{u'code': u'9', u'name': u'Urban development'...
490    [{u'code': u'2', u'name': u'Public sector gove...
491    [{u'code': u'10', u'name': u'Rural development...
492    [{u'code': u'8', u'name': u'Human development'...
493    [{u'code': u'11', u'name': u'Environment and n...
494    [{u'code': u'6', u'name': u'Social protection ...
495    [{u'code': u'4', u'name': u'Financial and priv...
496    [{u'code': u'8', u'name': u'Human development'...
497    [{u'code': u'10', u'name': u'Rural development...
498    [{u'code': u'10', u'name': u'Rural development...
499    [{u'code': u'9', u'name': u'Urban development'...
Name: mjtheme_namecode, dtype: object

In [37]:
theme_norm = json_normalize(a, 'mjtheme_namecode')
theme_norm.name.value_counts().head(10)
theme_norm

     code                                          name
0       8                             Human development
1      11
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8
18     10                             Rural development
19      7
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5
1482    6         Social protection and risk management
1483    8
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]

In [39]:
missing = theme_norm.name == ''
# blank entries
miss_c = theme_norm.code[missing]
miss_c.head() #we took the missing names and fed it back in to see where the codes of the missing data

1     11
13     6
17     8
19     7
24     2
Name: code, dtype: object

In [40]:
#Now we need to create a dictionary of what to feed back in - so lets make a list of all the types of names and codes
names = pd.Series(theme_norm.name.unique())
codes = pd.Series(theme_norm.code.unique())

In [41]:
names

0                                Human development
1
2                              Economic management
3            Social protection and risk management
4                            Trade and integration
5                         Public sector governance
6     Environment and natural resources management
7                      Social dev/gender/inclusion
8         Financial and private sector development
9                                Rural development
10                               Urban development
11                                     Rule of law
dtype: object

In [42]:
codes

0      8
1     11
2      1
3      6
4      5
5      2
6      7
7      4
8     10
9      9
10     3
dtype: object

In [56]:
dic = pd.DataFrame([codes,names])
dic = dic.transpose()
dic.columns=(['codes','names'])
dic

   codes                                         names
0      8                             Human development
1     11
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6      7  Environment and natural resources management
7      4                   Social dev/gender/inclusion
8     10      Financial and private sector development
9      9                             Rural development
10     3                             Urban development
11   NaN                                   Rule of law

In [ ]:
#not sure how to continue

KeyError: 'codes'